<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.franzli347.darach.mapper.VedioPathMapper">

    <resultMap id="BaseResultMap" type="io.github.franzli347.darach.model.entity.VedioPath">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="animateId" column="animate_id" jdbcType="INTEGER"/>
            <result property="masterFileRPath" column="master_file_r_path" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="insertTime" column="insert_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,animate_id,master_file_r_path,
        update_time,insert_time,is_delete
    </sql>
</mapper>
